@import "tailwindcss";

@theme {
  --font-heading: calluna-sans, sans-serif;
  --font-sans: omnes-pro, sans-serif;

  --spacing-page: calc(100vh - 72px);
}

h1 {
  @apply font-heading uppercase text-2xl font-light tracking-widest;
}
